In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv('Encoding Data.csv')
df.head()

   id bin_1 bin_2  nom_0 ord_2
0   0     F     N    Red   Hot
1   1     F     Y   Blue  Warm
2   2     F     N   Blue  Cold
3   3     F     N  Green  Warm
4   4     T     N    Red  Cold

In [3]:
# Label Encoding 
from sklearn.preprocessing import LabelEncoder
data = ['low','high','medium','low','high']
le = LabelEncoder()
encode_data = le.fit_transform(data)
encode_data

array([1, 0, 2, 1, 0], dtype=int64)

In [4]:
# One hot Encoding 
color = df['nom_0']
color
one_hot_encoded = pd.get_dummies(color)
# one_hot_encoded

print(one_hot_encoded)

    Blue  Green    Red
0  False  False   True
1   True  False  False
2   True  False  False
3  False   True  False
4  False  False   True
5  False   True  False
6  False  False   True
7  False  False   True
8   True  False  False
9  False  False   True

In [5]:
# Ordinal encoding 
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)
enc.categories_
enc.transform([['Female', 3], ['Male', 1]])

array([[0., 2.],
       [1., 0.]])

# Binary encoders

In [12]:
data = ['red', 'green','blue','red','red']
series_data = pd.Series(data)
frequency_encoding = series_data.value_counts()

# encoded data replaicing categories with frequency 
encode_data = [frequency_encoding[x] for x in data]
print("Encoded Data",encode_data)

Encoded Data [3, 1, 1, 3, 3]